<footer class=" border-bottom ">
    <div class="info">

    
        <div class="info-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin" style="color: #4c20cf;"></i>
        </div>
        <div> &copy; Hotel Hub Private Limited</div>
        <div class="info-link" >
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>